<!doctype HTML>
<html lang="en">
  <head>
    <title>Dialectic Materializer</title>
	<link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
  </head>
  <body>
	<h1 style="font-family: Arial; color:blue; font_size: 20px; text-align: center;"> This is our project for HackCooper 2016</h1>
	<form action="/my-handling-form-page" method="post"
	</form>
		<div>
			<label for ="name">Input:</label>
			<input type="text" id="name" name="username"	/>
		</div>
		
		<div>
			<label for="mail">Output- Mood:</label>
			<input type="email" id="mail" name="user_mail" />
		</div>
		
		<div>
			<label for="msg">Output- Conflict:</label>
			<textarea id="msg" name="user_message"></textarea>
		</div>
		
		<div>
			<label for="">Output- Related Phrases:</label>
			<textarea id="" name=""></textarea>
		</div>
		
		<div class="button">
			<button type = "submit">Send your message</button>
		</div>
	</form>
  </body>
</html>
