<!doctype HTML>
<!--Hi -->
<html lang="en">
  <head>
    <title>Dialectical Materializer</title>
	<link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
    <meta charset="UTF-8">
  </head>
  <body>
	<h1> Dialetical Materializer</h1>
    <h2>semantic sentiment analysis</h2>
	<form action="/" method="POST">
		<div>
			<textarea id="msg" name="input"></textarea>
		<div>

		<div class="button">
			<button type="submit">Analyze</button>
		</div>
	</form>
  </body>
</html>
